Repository DeveloperAcademy-POSTECH/2025-C3-M13-TeamGyeongjosa, pull requests merged in 2025-06, with the labels that each got.

#7 [Setting] MVVM-C 아키텍처 도입
  chukapoka/chukapoka.xcodeproj/project.pbxproj
  chukapoka/chukapoka/App/AppDelegate.swift
  chukapoka/chukapoka/App/RootNaivationView.swift
  chukapoka/chukapoka/App/chukapokaApp.swift
  chukapoka/chukapoka/Coordinator/AppCoordinator.swift
  chukapoka/chukapoka/Coordinator/AppRoute.swift
  chukapoka/chukapoka/Core/Constants.swift
  chukapoka/chukapoka/Core/DesignSystem.swift
  chukapoka/chukapoka/Feature/EnterGroup/EnterCodeView.swift
  chukapoka/chukapoka/Feature/GroupCreate/GroupCreateViewModel.swift
  chukapoka/chukapoka/Feature/GroupCreate/InfoStep1View.swift
  chukapoka/chukapoka/Feature/Home/HomeView.swift
  chukapoka/chukapoka/Resources/Assets.xcassets/AccentColor.colorset/Contents.json
  chukapoka/chukapoka/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  chukapoka/chukapoka/Resources/Assets.xcassets/Contents.json
Labels: 🪪 setting

#10 [feat] 결혼식 생성 뷰 작업 완료
  chukapoka/chukapoka.xcodeproj/project.pbxproj
  chukapoka/chukapoka/Feature/GroupCreate/InfoStep2.swift
Labels: 🔥 feat

#25 [Docs] DEV.md 코드 예시 추가
  DEV.md
Labels: 📄 docs

#32 Feat/#12 payment input
  chukapoka/chukapoka.xcodeproj/project.pbxproj
  chukapoka/chukapoka/Feature/InputPayment.swift
  chukapoka/chukapoka/Feature/PaymentInput.swift
Labels: 🔥 feat

#33 Feat/#14 group name check
  chukapoka/chukapoka.xcodeproj/project.pbxproj
  chukapoka/chukapoka/Feature/NameCheck .swift
Labels: 🔥 feat

#37 [Feat] 화환 생성 기능 구현
  chukapoka/chukapoka.xcodeproj/project.pbxproj
  chukapoka/chukapoka/Core/DesignSystem/GSColor.swift
  chukapoka/chukapoka/Core/DesignSystem/GSImage.swift
  chukapoka/chukapoka/Feature/CreateFlowerstand/CreateFlowerstandView.swift
  chukapoka/chukapoka/Feature/CreateFlowerstand/SubViews/Common/CircleProgress.swift
  chukapoka/chukapoka/Feature/CreateFlowerstand/SubViews/Step1/FlowerstandStep1.swift
  chukapoka/chukapoka/Feature/CreateFlowerstand/SubViews/Step2/CardDecorationPicker.swift
  chukapoka/chukapoka/Feature/CreateFlowerstand/SubViews/Step2/FlowerstandCardView.swift
  chukapoka/chukapoka/Feature/CreateFlowerstand/SubViews/Step2/FlowerstandStep2.swift
  chukapoka/chukapoka/Feature/CreateFlowerstand/SubViews/Step2/SelectedFlowerGroup.swift
  chukapoka/chukapoka/Feature/CreateFlowerstand/SubViews/Step3/CreateRibbonMessage.swift
  chukapoka/chukapoka/Feature/CreateFlowerstand/SubViews/Step3/FlowerstandStep3.swift
  chukapoka/chukapoka/Feature/CreateFlowerstand/SubViews/Step4/FlowerstandStep4.swift
  chukapoka/chukapoka/Feature/CreateFlowerstand/SubViews/Step5/FlowerstandStep5.swift
  chukapoka/chukapoka/Feature/CreateFlowerstand/SubViews/Step6/FlowerstandStep6.swift
  chukapoka/chukapoka/Resources/Assets.xcassets/BaseFlowerstand.imageset/Contents.json
  chukapoka/chukapoka/Resources/Assets.xcassets/BaseFlowerstand.imageset/Flowerstand.svg
  chukapoka/chukapoka/Resources/Assets.xcassets/BlueFlower.imageset/BlueFlower.svg
  chukapoka/chukapoka/Resources/Assets.xcassets/BlueFlower.imageset/Contents.json
  chukapoka/chukapoka/Resources/Assets.xcassets/FinishCreatePoki.imageset/Contents.json
  chukapoka/chukapoka/Resources/Assets.xcassets/FinishCreatePoki.imageset/FinishCreatePoki.svg
  chukapoka/chukapoka/Resources/Assets.xcassets/MessageRibbon.imageset/Contents.json
  chukapoka/chukapoka/Resources/Assets.xcassets/MessageRibbon.imageset/TextRibbon.svg
  chukapoka/chukapoka/Resources/Assets.xcassets/Pink1.colorset/Contents.json
  chukapoka/chukapoka/Resources/Assets.xcassets/Purple1.colorset/Contents.json
  chukapoka/chukapoka/Resources/Assets.xcassets/RedFlower.imageset/Contents.json
  chukapoka/chukapoka/Resources/Assets.xcassets/RedFlower.imageset/RedFlower.svg
  chukapoka/chukapoka/Resources/Assets.xcassets/YellowFlower.imageset/Contents.json
  chukapoka/chukapoka/Resources/Assets.xcassets/YellowFlower.imageset/YellowFlower.svg
Labels: 🔥 feat

#51 [Feat] 화환 꾸미기 Flow 구현 후 MVVM-C 리팩토링
  chukapoka/.swiftlint.yml
  chukapoka/chukapoka.xcodeproj/project.pbxproj
  chukapoka/chukapoka/App/RootNavigationView.swift
  chukapoka/chukapoka/App/chukapokaApp.swift
  chukapoka/chukapoka/Coordinator/AppCoordinator.swift
  chukapoka/chukapoka/Coordinator/AppRoute.swift
  chukapoka/chukapoka/Feature/CreateFlowerstand/CreateFlowerstandView.swift
  chukapoka/chukapoka/Feature/CreateFlowerstand/SubViews/Common/CircleProgress.swift
  chukapoka/chukapoka/Feature/CreateFlowerstand/SubViews/Step1/FlowerstandStep1.swift
  chukapoka/chukapoka/Feature/CreateFlowerstand/SubViews/Step2/FlowerstandStep2.swift
  chukapoka/chukapoka/Feature/CreateFlowerstand/SubViews/Step3/FlowerstandStep3.swift
  chukapoka/chukapoka/Feature/CreateFlowerstand/SubViews/Step4/FlowerstandStep4.swift
  chukapoka/chukapoka/Feature/CreateFlowerstand/ViewModel/CreateFlowerstandViewModel.swift
  chukapoka/chukapoka/Feature/CreateFlowerstand/ViewModel/FlowerStandStep1ViewModel.swift
  chukapoka/chukapoka/Feature/CreateFlowerstand/ViewModel/FlowerStandStep2ViewModel.swift
  chukapoka/chukapoka/Feature/CreateFlowerstand/ViewModel/FlowerStandStep3ViewModel.swift
  chukapoka/chukapoka/Feature/CreateGroup/ViewModel/CreateGroupViewModel.swift
  chukapoka/chukapoka/Feature/Home/HomeView.swift
  chukapoka/chukapoka/Feature/Loading/FlowerLoadingView.swift
  chukapoka/chukapoka/Feature/Loading/InfoLoadingView.swift
Labels: 🔥 feat

#62 Feat/#43 onboarding lottie
  chukapoka/CKPK_onboarding1.json
  chukapoka/CKPK_onboarding2.json
  chukapoka/chukapoka.xcodeproj/project.pbxproj
  chukapoka/chukapoka/Feature/Home/OnboardingView.swift
  chukapoka/chukapoka/Feature/Onboarding/OnboardingView.swift
  chukapoka/chukapoka/Feature/Onboarding/SubViews/.swift
  chukapoka/chukapoka/Feature/Onboarding/SubViews/LottieView.swift
  chukapoka/chukapoka/Feature/Onboarding/SubViews/NoticeStep1.swift
  chukapoka/chukapoka/Feature/Onboarding/SubViews/NoticeStep2.swift
  chukapoka/chukapoka/Feature/Onboarding/SubViews/SkipView.swift
Labels: 🔥 feat

#67 [Feat] 파티장 플로우 구현완
  chukapoka/chukapoka.xcodeproj/project.pbxproj
  chukapoka/chukapoka/App/RootNavigationView.swift
  chukapoka/chukapoka/App/chukapokaApp.swift
  chukapoka/chukapoka/Coordinator/AppCoordinator.swift
  chukapoka/chukapoka/Coordinator/AppRoute.swift
  chukapoka/chukapoka/Core/DesignSystem/Components/NavigationBar.swift
  chukapoka/chukapoka/Feature/CreateFlowerstand/CreateFlowerstandView.swift
  chukapoka/chukapoka/Feature/CreateFlowerstand/SubViews/Step1/FlowerstandStep1.swift
  chukapoka/chukapoka/Feature/CreateFlowerstand/SubViews/Step2/FlowerstandStep2.swift
  chukapoka/chukapoka/Feature/CreateFlowerstand/ViewModel/CreateFlowerstandViewModel.swift
  chukapoka/chukapoka/Feature/CreateGroup/View/CreateGroupView.swift
  chukapoka/chukapoka/Feature/CreateGroup/View/SubViews/Common/CustomProgressView.swift
  chukapoka/chukapoka/Feature/CreateGroup/View/SubViews/Step1/InfoStep1View.swift
  chukapoka/chukapoka/Feature/CreateGroup/View/SubViews/Step2/InfoStep2View.swift
  chukapoka/chukapoka/Feature/CreateGroup/View/SubViews/Step3/InfoStep3View.swift
  chukapoka/chukapoka/Feature/CreateGroup/ViewModel/CreateGroupViewModel.swift
  chukapoka/chukapoka/Feature/Home/HomeView.swift
  chukapoka/chukapoka/Feature/Loading/FlowerLoadingView.swift
  chukapoka/chukapoka/Feature/Loading/InfoLoadingView.swift
  chukapoka/chukapoka/Feature/Loading/ViewModel/FlowerLoadingViewModel.swift
  chukapoka/chukapoka/Feature/Loading/ViewModel/InfoViewModel.swift
Labels: 🔥 feat

#68 [fix] xcodeproj 복구 및 중복 프로젝트 파일 정리
  chukapoka/chukapoka.xcodeproj/project.pbxproj
Labels: ⚒️ fix

#79 [Feat] 런치스크린 및 온보딩 연결 - intro기능 구현완
  chukapoka/chukapoka.xcodeproj/project.pbxproj
  chukapoka/chukapoka/App/chukapokaApp.swift
  chukapoka/chukapoka/Feature/Home/HomeView.swift
  chukapoka/chukapoka/Feature/Home/SubViews/HomeChracterImage.swift
  chukapoka/chukapoka/Feature/Home/SubViews/HomeIntroText.swift
  chukapoka/chukapoka/Feature/Onboarding/OnboardingView.swift
  chukapoka/chukapoka/Feature/Onboarding/SubViews/.swift
  chukapoka/chukapoka/Feature/Onboarding/SubViews/SkipView.swift
  chukapoka/chukapoka/Feature/Splash/SplashView.swift
  chukapoka/chukapoka/Resources/Assets.xcassets/MainPoki.imageset/Contents.json
  chukapoka/chukapoka/Resources/Assets.xcassets/MainPoki.imageset/mainPoki 1.pdf
  chukapoka/chukapoka/Resources/Assets.xcassets/MainPoki.imageset/mainPoki 2.pdf
  chukapoka/chukapoka/Resources/Assets.xcassets/MainPoki.imageset/mainPoki.pdf
  chukapoka/chukapoka/Resources/Assets.xcassets/MainPoki.imageset/흰 강아지 1.svg
  chukapoka/chukapoka/Resources/Assets.xcassets/MainPoki.imageset/흰 강아지 2.svg
  chukapoka/chukapoka/Resources/Assets.xcassets/MainPoki.imageset/흰 강아지 3.svg
Labels: 🔥 feat

#82 [Feat] 메인 카드 뷰 데이터 바인딩 및 삭제 처리
  chukapoka/chukapoka.xcodeproj/project.pbxproj
  chukapoka/chukapoka/App/RootNavigationView.swift
  chukapoka/chukapoka/Core/DesignSystem/Components/NavigationBar.swift
  chukapoka/chukapoka/Core/DesignSystem/Components/PartyCard/Style/PartyCardBackground.swift
  chukapoka/chukapoka/Core/DesignSystem/Components/PartyCard/Style/PartyCardStyle.swift
  chukapoka/chukapoka/Core/DesignSystem/Components/PartyCard/View/PartyCardBackContainer.swift
  chukapoka/chukapoka/Core/DesignSystem/Components/PartyCard/View/PartyCardBackView.swift
  chukapoka/chukapoka/Core/DesignSystem/Components/PartyCard/View/PartyCardContainer.swift
  chukapoka/chukapoka/Core/DesignSystem/Components/PartyCard/View/PartyCardView.swift
  chukapoka/chukapoka/Core/SharedModel/Party.swift
  chukapoka/chukapoka/Core/SharedModel/PartyMember.swift
  chukapoka/chukapoka/Core/SharedModel/Wedding.swift
  chukapoka/chukapoka/Feature/CreateFlowerstand/CreateFlowerstandView.swift
  chukapoka/chukapoka/Feature/CreateGroup/ViewModel/CreateGroupViewModel.swift
  chukapoka/chukapoka/Feature/Home/HomeView.swift
  chukapoka/chukapoka/Feature/Home/View/FlippableBackCardView.swift
  chukapoka/chukapoka/Feature/Home/View/FlippableCardView.swift
  chukapoka/chukapoka/Feature/Home/View/FlippableFrontCardView.swift
  chukapoka/chukapoka/Feature/Home/View/HomeCardScrollView.swift
  chukapoka/chukapoka/Feature/Home/View/HomeCardView.swift
  chukapoka/chukapoka/Feature/Home/View/HomeNormalView.swift
  chukapoka/chukapoka/Feature/Home/View/MultiCardScrollView.swift
  chukapoka/chukapoka/Feature/Home/View/SingleCardView.swift
  chukapoka/chukapoka/Feature/Home/View/SubViews/HomeBottomButtons.swift
  chukapoka/chukapoka/Feature/Home/View/SubViews/HomeChracterImage.swift
  chukapoka/chukapoka/Feature/Home/View/SubViews/HomeIntroText.swift
  chukapoka/chukapoka/Feature/Home/View/ViewModel/MultiCardViewModel.swift
  chukapoka/chukapoka/Feature/ReceiveCongrats/ShowFlowerstandCards/SubViews/FlowerstandCardList.swift
  chukapoka/chukapoka/Feature/ReceiveCongrats/SubViews/ReceiveCongratsCardBackView.swift
  chukapoka/chukapoka/Feature/ReceiveCongrats/SubViews/ReceiveCongratsCardFrontView.swift
Labels: 🔥 feat

#85 [Fix] 이미지 애니메이팅에서 상단 검정부분 생기는 현상 수정
  chukapoka/chukapoka.xcodeproj/project.pbxproj
  chukapoka/chukapoka/Feature/CreateGroupOCR/View/SubViews/Step2/PhotoScanView.swift
  chukapoka/chukapoka/Feature/CreateGroupOCR/View/SubViews/Step3/OCRResultView.swift
  chukapoka/chukapoka/Resources/Assets.xcassets/MainPoki.imageset/Contents.json
Labels: ⚒️ fix

#103 [Feat] 신부플로우 일부 구현
  chukapoka/chukapoka.xcodeproj/project.pbxproj
  chukapoka/chukapoka/App/RootNavigationView.swift
  chukapoka/chukapoka/Coordinator/AppRoute.swift
  chukapoka/chukapoka/Core/TextRecognition/OCRTextParser.swift
  chukapoka/chukapoka/Feature/CreateFlowerstand/ViewModel/CreateFlowerstandViewModel.swift
  chukapoka/chukapoka/Feature/CreateGroup/ViewModel/CreateGroupViewModel.swift
  chukapoka/chukapoka/Feature/CreateGroupOCR/OCRParseResult.swift
  chukapoka/chukapoka/Feature/CreateGroupOCR/View/InvitationOCRView.swift
  chukapoka/chukapoka/Feature/CreateGroupOCR/View/SubViews/Step1/PhotoPickerView.swift
  chukapoka/chukapoka/Feature/CreateGroupOCR/View/SubViews/Step3/OCRResultView.swift
  chukapoka/chukapoka/Feature/CreateGroupOCR/View/SubViews/Step4/MyinfoView.swift
  chukapoka/chukapoka/Feature/CreateGroupOCR/ViewModel/OCRViewModel.swift
  chukapoka/chukapoka/Feature/EnterGroup/EnterGroupViewModel.swift
  chukapoka/chukapoka/Feature/MarriedCouple/MarriedCoupleView.swift
  chukapoka/chukapoka/Feature/MarriedCouple/SubView/MarriedCoupleMainTextView.swift
  chukapoka/chukapoka/Feature/MarriedCouple/SubView/MultiReceiveCardView.swift
  chukapoka/chukapoka/Feature/MarriedCouple/SubView/ReceiveCardContainerView.swift
  chukapoka/chukapoka/Feature/MarriedCouple/SubView/ReceiveCardListView.swift
  chukapoka/chukapoka/Feature/MarriedCouple/SubView/ReceiveCardView.swift
  chukapoka/chukapoka/Feature/MarriedCouple/SubView/ReceiveFlippableBackCardView.swift
  chukapoka/chukapoka/Feature/MarriedCouple/SubView/ReceiveFlippableCardView.swift
  chukapoka/chukapoka/Feature/MarriedCouple/SubView/ReceiveFlippableFrontCardView.swift
  chukapoka/chukapoka/Feature/MarriedCouple/SubView/ReceiveSingleCardView.swift
  chukapoka/chukapoka/Feature/MarriedCouple/ViewModel/MarriedCoupleViewModel.swift
  chukapoka/chukapoka/Feature/ReceiveCongrats/Model/FlowerstandCardItem.swift
  chukapoka/chukapoka/Feature/ReceiveCongrats/ShowFlowerstandCards/ShowFlowerstandCardsView.swift
  chukapoka/chukapoka/Feature/ReceiveCongrats/ShowFlowerstandCards/SubViews/FlowerstandCard.swift
  chukapoka/chukapoka/Feature/ReceiveCongrats/ShowFlowerstandCards/SubViews/FlowerstandCardList.swift
  chukapoka/chukapoka/Feature/ReceiveCongrats/ShowFlowerstandCards/SubViews/SelectedCardDetailView.swift
  chukapoka/chukapoka/Feature/ShowParty/ShowPartyMemberView.swift
Labels: 🔥 feat
